/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@font-face {
    font-family: lato;
    src: url(../src/assets/fonts/lato/Lato-Regular.ttf) format('TrueType');
}
@font-face {
    font-family: playfair;
    src: url(../src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('TrueType');
}
body{
    background-color: #0C0E1B;
}