.container {
    margin: 0 20px 0 20px;
}

.bg1 {
    width: 100%;
    background: #1a1e39;
    height: 83vh;
}

.bg {
    position: relative;
    height: 83vh;
    display: block;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../../../assets/images/bg.jpg) center/cover;
    opacity: 0.1;
    transition: opacity 0.3s;
}

.content {
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.description {
    font-family: playfair;
    font-size: 38px;
    color: white;
}

.heading {
    color: #676CDB;
    font-family: playfair;
    font-size: 18px;
}

.spacer {
    background-color: #0c0e1b;
    height: 200px;
    position: relative;
    margin: 20px;
    top: 100px;
}

.image {
    position: relative;
    bottom: 245px;
    right:10px;
    width:200px;
}

.animate-slow {
    animation-duration: 2s;
}
button{
    background: transparent;
    border: none;
    color: black;
    text-align: left;
}
button:hover {
    color: #676CDB;
    cursor: pointer;
}
.heading {
    color: #676CDB;
    font-family: playfair;
    font-size: 18px;
}
.description1 {
    font-family: playfair;
    font-size: 36px;
    color: white;
    margin-top: 20px;
}
.aboutme
{
    margin-top: 70px;
}
.main-content {
    margin-top: 50px;
    color: #969AB1;
    font-family: lato;
    text-align: justify;
    width: 100%;
    font-size: 16px;
}
hr {
    border: 0;
    border-top: 1px solid grey;
    opacity: 0.2;
    margin: 20px 0;
}
.sk1 {
    font-family: playfair;
}
.img2
{
    width: 80px;
    margin: 0 140px;
}
.sk2 {
    font-family: playfair;
}
.img1
{
    width: 150px;
    margin: 0 100px;
}
.fsd
{
 font-family: lato;
 color: #969AB1;
 text-align: justify;
}